@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Golfers</h1>
<img src="http://www.golfmacedonia.com/images/Golf1.jpg" width="300" height="200" />
    <H2>"Golf is a game whose aim is to hit a very small ball into an even smaller hole, with weapons singularly ill-designed for the purpose."</H2>
    <h2>This website shows the top golfers around the world ! just click on the golfers link to see who is on the top this year!</h2>

    <style>
    body {
        background-Image: url("woods.jpg");
    }
        </style>
